@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.main__div {
  padding: 0.5rem 1rem;
  margin: 2rem 20%;
  background-color: #252525;
}

.button__div {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #a892ee;
}
